@model NTCKamaz.Models.Model

@{
    ViewData["Title"] = "Home Page";
}


<form method="post" action="">
    <div class="table-container" style="margin-top: 100px;">


        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger">
                @TempData["ErrorMessage"]
            </div>
        }

        @foreach (var user in Model.UserViews!)
        {
            <table>

                <tr>
                    <td><p>ФИО</p></td>
                    <td><input type="text" value="@user.UserName" name="UserName" /> </td>
                </tr>

                <tr>
                    <td><p>Табельный номер</p></td>
                    <td><input type="text" value="@user.TableNumber" name="TableNumber" /> </td>
                </tr>

                <tr>
                    <td><p>Кабинет</p></td>
                    <td> <input type="text" value="@user.Cabinet" name="Cabinet" />  </td>
                </tr>

                <tr>
                    <td><p>Должность</p></td>
                    <td> <input type="text" value="@user.Position" name="Position" /> </td>
                </tr>

                <tr>
                    <td><p>Отдел(сокр.)</p></td>
                    <td> <input type="text" value="@user.Department" name="ShortDepartment" /> </td>
                </tr>

                <tr>
                    <td><p>Учётная запись</p></td>
                    <td> <input type="text" value="@user.Account" name="Account" /> </td>
                </tr>


                <tr>
                    <td><input type="submit" value="Отправить" /> </td>
                    <td></td>
                </tr>


            </table>
            
        }



    </div>


</form>
