@{
    @using NTCKamaz.Data.ViewClasses
    @using System.Reflection;
    @using System.ComponentModel;
}

<form id="searchForm" method="get" action="@Url.Action("InventoryNumbers", "Home")">

    <div class="select-box">


        <div class="options-container" id="inventory-number-options-container">
            @foreach (var propertyInfo in typeof(InventoryNumberView).GetProperties())
            {
                var displayName = propertyInfo.GetCustomAttribute<DisplayNameAttribute>()?.DisplayName ?? propertyInfo.Name;

                <div class="option">
                    <input type="radio" class="radio" id="@propertyInfo.Name" value="@propertyInfo.Name" />
                    <label for="@propertyInfo.Name">@displayName</label>
                </div>
            }
        </div>

        <textarea class="selected" name="selectedOption" readonly>
            Select Parameter
        </textarea>
    </div>

    <div class="search_box">
        <input id="searchInput" class="search-txt" type="text" name="search" placeholder="Type to search">
        <button class="search-btn" type="submit">
            <i class="fas fa-search"></i>
        </button>
    </div>
</form>






<div class="tableInventoryNumbers">
    <table id="InventoryNumberView" class="table table-bordered">

        <thead>
            <tr>
                <th><p>ID</p></th>
                <th><p>Инвентарный номер</p></th>
                <th><p>ID ПК</p></th>
                <th><p>ID монитора</p></th>
                <th><p>Удаление</p></th>
            </tr>
        </thead>


        <tbody>

            @foreach (var inventory in Model.InventoryNumberViews!)
            {
                <tr>
                    <td>@inventory.ID</td>
                    <td>@inventory.InventoryNumbers</td>
                    <td>@inventory.pcID</td>
                    <td>@inventory.monitorID</td>




                    <td>
                        <form method="post" asp-action="DeleteInventoryNumber" asp-route-id="@inventory.ID">
                            <button type="submit" class="btn btn-danger">Удалить </button>
                        </form>
                    </td>


                </tr>
            }


        </tbody>



    </table>
</div>